@mixin vcFaqList1-01_theme() {
  .vcFaqList1-01 {
    background-color: #2a2a2d;
    
    h2 {
      color: #eee;
      &:hover {
        color: #ccc;
      }

      &:hover > .vcFaqList1-01_icon {
        svg {
          fill: #000;
        }
      }
    }

    li {
      background-color: #1c1d22;
    }
  }

  .vcFaqList1-01_title {
    border-bottom: 1px dashed #5c5d60;
  }

  .vcFaqList1-01_icon {
    svg {
      border: 1px solid #000;
      background-color: #e6e6e6;
      fill: #be0101;
    }
  }

  .vcFaqList1-01_ans {
    background-color: #2c2d32;
    color: #d5d5d5;
  }
}
@include vcFaqList1-01_theme();

.vcFaqList1-01 {
  li {
    @extend %padd--4;    
  }  
}

.vcFaqList1-01_title {
  @extend %font--bold;
  @extend %padd--4;
  margin-bottom: 4px; 
  cursor: pointer;
}

.vcFaqList1-01_icon {
  @extend %display--inline-block;
  margin-right: 4px;
  
  svg {
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 16px;
  }
}

.vcFaqList1-01_ans {
  @extend %padd--4;
}